{% extends 'letter/base.html' %}

{% block content %}
<style>
#myform td {
  border:1px;
  padding: 5px;
}
</style>

 <div style="position:relative;left:10px;background-color:white;">
    <h1 align=center>회원가입</h1><br>
    <form action = "" method = "post">
    {% csrf_token %}
    {% comment %}
    <table>
    {# form.as_table #}
    </table>
    {% endcomment %}
    
    
    {% for field in form.hidden_fields %}
       {{ field }}
    {% endfor %}

    <table id="myform" align=center>
    {% for field in form.visible_fields %}
    <tr>
     <td>{{ field.label }}:</td>
     <td>
     {{ field }}
     {{ field.errors }}
     {{ field.help_text }}
     </td>
    </tr>
    {% endfor %}
    </table>

    <input style='position:relative;left:840px;bottom=2px;' type = 'submit'/>
    </form>
</div>


{% endblock content %}
