{% extends 'letter/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}



    <!-- Home Section -->
    <div id="home">
        <div class="container text-center">
            <!-- Navigation -->
            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
            </nav>

            <div class="content">
                <h4>Online to Offline Letter Service</h4>
                <hr>
                <div class="header-text btn">
                    <h1><span id="head-title"></span></h1>
                </div>
            </div>

            <a href="/letter/new" class="down-btn page-scroll">
                <span class="fa fa-angle" style="font-size:36px; padding:10px 30px 10px 30px;">편지쓰기</span>
            </a>
        </div>
    </div>

    <!-- Meet Us Section -->
    <div id="meet-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>신개념 편지 서비스</h2>
                        <hr>
                    </div>
                    <p>아래 내용을 확인하세요.</p>
                    <a href="#services" class="down-btn page-scroll">
                        <span class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overview Video Section -->
    <div id="overview-video">
        <div class="overlay">
            <embed src='{% static "img/intro.mp4" %}' style="width:853px; height:480px;">
            <div class="container">
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>서비스소개</h2>
                        <hr>
                    </div>
                    <p>디어유에서 소중한 마음이 담긴 편지를 보내세요.</p>
                </div>
            </div>

            <div class="space"></div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-pencil fa-3x"></span>
                        <h4>편지쓰기</h4>
                        <p>소중한 마음이 담긴 편지를 작성하세요. <br>선물도 함께 보낼 수 있습니다.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-send fa-3x"></span>
                        <h4>전달</h4>
                        <p>디어유가 소중한 편지를 들고 수신인을 찾아갑니다.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-thumbs-up fa-3x"></span>
                        <h4>수신확인</h4>
                        <p>수신인이 편지를 받으면 발신인이 편지의 전달 결과를 확인할 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <a href="#works" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Call-to-Action Section -->
    <div id="cta">
        <div class="container text-center">
            <a href="#works" class="btn go-to-btn">Check our process</a>
        </div>
    </div>

    <!-- Portfolio Section -->
    <div id="works">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>서비스 프로세스</h2>
                        <hr>
                    </div>
                    <p>여러분이 작성한 편지는 철저하게 비밀이 보장되며, 소중하게 봉인됩니다.</p>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="">
                                <div class="hover-text">
                                    <h5>보안</h5>
                                    <p class="lead lead-k">편지내용 암호화</p>
                                    <div class="hline"></div>
                                </div>
                                <img src='{% static "img/portfolio/01.jpg" %}' class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="">
                                <div class="hover-text">
                                    <h5>보안</h5>
                                    <p class="lead lead-k">인장으로 봉인</p>
                                    <div class="hline"></div>
                                </div>
                                <img src='{% static "img/portfolio/02.jpg" %}' class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="">
                                <div class="hover-text">
                                    <h5>철저한 관리</h5>
                                    <p class="lead lead-k">배송추적</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src='{% static "img/portfolio/03.jpg" %}' class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="">
                                <div class="hover-text">
                                    <h5>철저한 관리</h5>
                                    <p class="lead lead-k">보낸편지 DB제공</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src='{% static "img/portfolio/04.jpg" %}' class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="text-center">
            <a href="#clients" class="btn read-more-btn">Check our partners</a>
            <br>
            <a href="#about-us" class="down-btn page-scroll"><span class="fa fa-angle-down"></span></a>
        </div>
    </div>

    <!-- Clients Section -->
    <div id="clients">
        <div class="overlay">
            <div class="container text-center">
                <div class="section-title">
                    <h2>Our Partners</h2>
                    <hr>
                </div>

                <ul class="clients">
                    <li><a href="#"><img src='{% static "img/clients/01.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/02.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/03.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/04.png" %}' class="img-responsive" alt="..."></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About Us Section -->
    <div id="about-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <hr>
                    </div>
                    <p>저희 팀은 착한 마음을 가진 건장한 <strong>남성 4명</strong>으로 구성되어있습니다.</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/01.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>송준혁</h4>
                                <p class="small">CEO/Founder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/02.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>권일</h4>
                                <p class="small">COO/Co-Founder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/03.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>장한</h4>
                                <p class="small">CMO<br>바지사장</p>
                                <hr>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/04.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>이동주</h4>
                                <p class="small">Chief Financial Officer<br>Chief Technology Officer<br>Majority StakeHolder<br>오너</p>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>

            <div class="text-center">
                <a href="#contact" class="page-scroll down-btn">
                    <span class="fa fa-angle-down"></span>
                </a>
            </div>

        </div>
    </div>

        <!-- Testimonial Section -->
    <div id="testimonials">
        <div class="overlay">
            <div class="container">
                <div class="section-title">
                    <h2>What my Clients Say...</h2>
                    <hr>
                </div>

                <div id="testimonial" class="owl-carousel owl-theme">
                  <div class="item">
                    <h3>What a great Service!!!! <br>군대간 남친 편지 보내기 너무 쉬워졌어요! <br>
                    생일, 기념일에 손편지 보내기 너무 힘든데 이거 쓰니 편해졌어요! </h3>
                    <br>
                    <h6>얼마 전 곰신이 된 양OO씨</h6>
                  </div>

                  <div class="item">
                    <h3>신년인사는 DearYou!!<br>오랜만에 신년인사를 Dearyou로 해봤어요.<br>받으신 분들 반응이 너무 좋아요! </h3>
                    <br>
                    <h6>근 2년간 잠수탄 김OO씨</h6>
                  </div>

                  <div class="item">
                    <h3>손 편지 같아요!<br>여자친구한테 편지를 보내봤어요.<br>손편지만큼 감동한 듯 반응이 좋네요.</h3>
                    <br>
                    <h6>편지쓰기가 귀찮은 권O씨</h6>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>Contact Us</h2>
                <hr>
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>Address</strong><br>
                        <br>
                        서울특별시<br>
                        관악구 낙성대동<br>
                        1626-45번지<br>
                        Phone: (010)2428-1833
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>

                <div class="col-md-9">
                    <form autocomplete="off" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class='col-md-6'>
                                {% bootstrap_field form.name %}
                            </div>
                            <div class='col-md-6'>
                                {% bootstrap_field form.email %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.phone %} 
                            </div>
                            <div class="col-md-12">
                                {% bootstrap_field form.title %}
                            </div>
                        </div>
                            message
                            {% bootstrap_field form.message %}
                            <!--<textarea class="form-control" rows="4" placeholder="Message"></textarea>-->
                        <div class="text-right">
                        <input type='submit' class='btn send-btn' style='
                        text-transform: uppercase;
                    	background: #c59a6d;
                    	color: #282f35;
                    	padding: 15px 35px;
                    	border-radius: 0;
                    	font-size: 12px;
                    	color: #ffffff;
                    	transition: all 0.5s;
                        '
                        value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}