{% extends 'letter/base.html' %}
{% load staticfiles %}
{% block content %}



    <!-- Home Section -->
    <div id="home">
        <div class="container text-center">
            <!-- Navigation -->
            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
            </nav>

            <div class="content">
                <h4>Online to Offline Letter Service</h4>
                <hr>
                <div class="header-text btn">
                    <h1><span id="head-title"></span></h1>
                </div>
            </div>

            <a href="/letter/new" class="down-btn page-scroll">
                <span class="fa fa-angle">편지쓰기</span>
            </a>
        </div>
    </div>

    <!-- Meet Us Section -->
    <div id="meet-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Meet Us</h2>
                        <hr>
                    </div>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <a href="#services" class="down-btn page-scroll">
                        <span class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Overview Video Section -->
    <div id="overview-video">
        <div class="overlay">
            <embed src='{% static "img/intro2.mp4" %}' style="width:853px; height:480px;">
            <div class="container">
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>서비스소개</h2>
                        <hr>
                    </div>
                    <p>디어유에서 소중한 마음이 담긴 편지를 보내세요.</p>
                </div>
            </div>

            <div class="space"></div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-pencil fa-3x"></span>
                        <h4>편지쓰기</h4>
                        <p>소중한 마음이 담긴 편지를 작성하세요. <br>선물도 함께 보낼 수 있습니다.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-send fa-3x"></span>
                        <h4>전달</h4>
                        <p>디어유가 소중한 편지를 들고 수신인을 찾아갑니다.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-thumbs-up fa-3x"></span>
                        <h4>수신확인</h4>
                        <p>수신인이 편지를 받으면 발신인이 편지의 전달 결과를 확인할 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <a href="#works" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Call-to-Action Section -->
    <div id="cta">
        <div class="container text-center">
            <a href="#" class="btn go-to-btn">Check our shop</a>
        </div>
    </div>

    <!-- Portfolio Section -->
    <div id="works">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>서비스 프로세스</h2>
                        <hr>
                    </div>
                    <p>여러분이 작성한 편지는 철저하게 비밀이 보장되며, 소중하게 봉인됩니다.</p>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>보안</h5>
                                    <p class="lead lead-k">편지내용 암호화</p>
                                    <div class="hline"></div>
                                </div>
                                <img src='{% static "img/portfolio/01.jpg" %}' class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>보안</h5>
                                    <p class="lead lead-k">인장으로 봉인</p>
                                    <div class="hline"></div>
                                </div>
                                <img src='{% static "img/portfolio/02.jpg" %}' class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>철저한 관리</h5>
                                    <p class="lead lead-k">배송추적</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src='{% static "img/portfolio/03.jpg" %}' class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>철저한 관리</h5>
                                    <p class="lead lead-k">보낸편지 DB제공</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src='{% static "img/portfolio/04.jpg" %}' class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="text-center">
            <a href="#" class="btn read-more-btn">Check on Dribbble</a>
            <br>
            <a href="#about-us" class="down-btn page-scroll"><span class="fa fa-angle-down"></span></a>
        </div>
    </div>

    <!-- Clients Section -->
    <div id="clients">
        <div class="overlay">
            <div class="container text-center">
                <div class="section-title">
                    <h2>Our Partners</h2>
                    <hr>
                </div>

                <ul class="clients">
                    <li><a href="#"><img src='{% static "img/clients/01.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/02.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/03.png" %}' class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src='{% static "img/clients/04.png" %}' class="img-responsive" alt="..."></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About Us Section -->
    <div id="about-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <hr>
                    </div>
                    <p>저희 팀은 착한 마음을 가진 건장한 <strong>남성 4명</strong>으로 구성되어있습니다.</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/02.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>송준혁</h4>
                                <p class="small">CEO/Founder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/04.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>권일</h4>
                                <p class="small">COO/Co-Founder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/03.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>장한</h4>
                                <p class="small">CMO</p>
                                <hr>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <div class="team">
                                <img src='{% static "img/team/03.jpg" %}' class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>이동주</h4>
                                <p class="small">CFO</p>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>

            <div class="text-center">
                <a href="#contact" class="page-scroll down-btn">
                    <span class="fa fa-angle-down"></span>
                </a>
            </div>

        </div>
    </div>

        <!-- Testimonial Section -->
    <div id="testimonials">
        <div class="overlay">
            <div class="container">
                <div class="section-title">
                    <h2>What my Clients Say...</h2>
                    <hr>
                </div>

                <div id="testimonial" class="owl-carousel owl-theme">
                  <div class="item">
                    <h3>Et iusto odio dignissimos ducimus qui blanditiis <br>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint <br>occaecati cupiditate non provident. </h3>
                    <br>
                    <h6>LJ, Abc Company</h6>
                  </div>

                  <div class="item">
                    <h3>Fusce dapibus, tellus ac cursus commodo, tortor<br> mauris condimentum. Duis mollis, est non commodo luctus, nisi erat </h3>
                    <br>
                    <h6>Kai, Web Geekster</h6>
                  </div>

                  <div class="item">
                    <h3>Cras justo odio, dapibus ac facilisis in, egestas <br>eget quam. Donec id elit non mi porta gravida at eget metus.</h3>
                    <br>
                    <h6>Jenn, Coders' Playground</h6>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>Contact Us</h2>
                <hr>
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>Address</strong><br>
                        <br>
                        ThemeForces.Com<br>
                        Igbalangao, Bugasong, Anitque<br>
                        5704, Philippines<br>
                        Phone: (123) 456-7890
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>

                <div class="col-md-9">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Your Name">
                                <input type="text" class="form-control" placeholder="Phone No.">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                        <div class="text-right">
                            <a href="#" class="btn send-btn">Send</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}