{% extends 'letter/base.html' %}
{% load bootstrap3 %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
   <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>Dear You</h2>
                <hr>
            </div>
            
            <div class="space"></div>
            
            <!--<table>-->
                <!--<span class="form-control">{{form}}</span>-->
            <!--</table>-->
            
            <!--<input type="text" class="form-control" placeholder="Your Name" value={{form.sender_name}}>-->

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>Confirm it</strong><br>
                        <br>
                        작성한 편지를 확인하세요<br>
                        제출 버튼을 누르면 발송됩니다<br>
                        다시 한 번 읽어보세요!<br>
                        Phone: (010) 0000-0000
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>
                


                <div class="col-md-9">

                    <!--<form autocomplete="off">-->
                        <div class="row">
                            <div class="col-md-6">
                                <!--<input type='text' class="form-control" placeholder="Your Name">-->
                                <!--<input type="text" class="form-control" placeholder="Phone No.">-->
                                {% bootstrap_field form.sender_name %}
                                {% bootstrap_field form.receiver_name %}
                            </div>
                            
                            <div class="col-md-6">
                                <!--<input type="text" class="form-control" placeholder="Email">-->
                                <!--<input type="text" class="form-control" placeholder="Subject">-->
                                {% bootstrap_field form.title %}
                                {% bootstrap_field form.receiver_address %}
                            </div>
                        </div>
                                {% bootstrap_field form.content %}
                        <!--<textarea class="form-control" rows="4" placeholder="Message"></textarea>-->
                        <input type='submit' class='btn send-btn'/>
                        <!--<div class="text-right">-->
                        <!--    <a href="#" class="btn send-btn">Send</a>-->
                        <!--</div>-->
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</form>
    
{% endblock content %}